.product-tabs {
  font-family: 'Segoe UI', sans-serif;
  padding: 30px;
}

.tab-headers {
  display: flex;
  border-radius: 6px;
  overflow: hidden;
  width: fit-content;
}

.tab-headers button {
  padding: 10px 20px;
  background-color: white;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.tab-headers button:first-child {
  border-left: none;
}

.tab-headers .active {
  border-bottom: 2px solid #333;
}

.tab-content {
  margin-top: 20px;
  line-height: 1.8;
  color: #333;
}

.review {
  background: #f9f9f9;
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 10px;
}