 * {
     font-family: "iransans-fa";
 }

 .product-container {
     display: flex;
     max-width: 1300px;
     flex-wrap: wrap;
     margin: auto;
     gap: 30px;
     padding: 25px;
     flex-direction: row;
 }

 .gallery {
     display: flex;
     flex-direction: row-reverse;
     gap: 20px;
     width: 40%;
     align-items: center;
     justify-content: center;
     direction: ltr;
 }

 .thumbnails {
     display: flex;
     flex-direction: column;
     gap: 15px;
 }

 .thumbnails img {
     width: 80px;
     height: 100px;
     object-fit: cover;
     border: 1px solid #ddd;
     border-radius: 5px;
     cursor: pointer;
 }

 .main-image img {
     width: auto;
     height: 450px;
     object-fit: cover;
     border-radius: 8px;
 }

 .product-details {
     flex: 1 1;
     width: 50%;
     display: flex;
     flex-direction: column;
     gap: 15px;
     margin-right: 20px;
     background-color: #f2f2f2;
     border-radius: 15px;
     padding: 15px;
 }

 .product-details h1 {
     font-size: 20px;
     margin: 0;
 }

 .rating {
     color: #e67e22;
     font-size: 18px;
 }

 .price {
     font-size: 18px;
     display: flex;
     align-items: center;
     justify-content: flex-end;
     margin-left: 15px;
 }

 .price del {
     color: gray;
     margin-left: 10px;
 }

 .price span {
     color: rgb(0, 0, 0);
     font-weight: bold;
 }

 .description {
     font-size: 14px;
     color: #333;
     line-height: 1.6;
 }

 .add-to-cart {
     padding: 8px 15px;
     width: 200px;
     background-color: #3282B8;
     color: white;
     border: none;
     font-size: 16px;
     border-radius: 4px;
     cursor: pointer;
     margin-top: 10px;
     transition: background 0.3s ease-in;
     -webkit-transition: background 0.3s ease-in;
     -moz-transition: background 0.3s ease-in;
     -ms-transition: background 0.3s ease-in;
     -o-transition: background 0.3s ease-in;
 }

 .add-to-cart:hover {
     background-color: #0F4C75;
 }

 .meta {
     margin-top: 20px;
     font-size: 14px;
 }

 .meta span {
     font-weight: bold;
 }

 .full-description {
     padding: 10px;
     width: 100%;
 }

 .full-description h3 {
     border-bottom: 1px solid #000000;
     width: fit-content;
     margin-bottom: 5px;
 }