.account-page {
  max-width: 500px;
  margin: 3rem auto;
  padding: 2rem;
  background-color: #fefefe;
  border: 1px solid #ddd;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
  font-family: 'Vazirmatn', sans-serif;
  text-align: center;
  direction: rtl;
}

.account-page h2 {
  font-size: 1.8rem;
  color: #333;
  margin-bottom: 1rem;
}

.account-page p {
  font-size: 1.1rem;
  margin-bottom: 2rem;
  color: #444;
}

.Logout-button {
  padding: 8px 12px;
  border-radius: 8px;
  border: none;
  font-size: 14px;
}