.loginSignup-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: white;
  padding: 40px 30px;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #000;
}
.loginSignup-section .container
input{
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.btn {
  width: 100%;
  background-color: #3282B8;
  color: white;
  padding: 12px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  margin-top: 10px;
  cursor: pointer;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.btn:hover {
  background-color: #0F4C75;
}

.login-text {
  margin-top: 15px;
  font-size: 14px;
}

.login-text a {
  color: #d7352b;
  text-decoration: none;
  font-weight: bold;
}

.terms {
  margin-top: 10px;
  font-size: 13px;
  color: #333;
}

.checkbox {
  margin-left: 5px;
}
.login-text .link {
  cursor: pointer;
}