.Category-products {
    display: flex;
    gap: 12px;
    flex-direction: row;
    padding: 25px;
}
.item-card {
    width: 250px;
}
.Category-banner {
    width: 100%;
    height: 450px;
    object-fit: cover;
    object-position: top;
}