.offer-section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 60px 10%;
    min-height: 100vh;
    box-sizing: border-box;
    direction: rtl;
}

.offer-text {
    max-width: 500px;
}

.offer-text h1 {
    font-size: 3rem;
    font-weight: 700;
    margin: 0;
    line-height: 1.2;
}

.offer-text p {
    font-size: 1.2rem;
    color: #555;
    margin: 15px 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.offer-text button {
    background-color: white;
    color: black;
    padding: 12px 30px;
    font-weight: bold;
    font-size: 1rem;
    border: 3px solid #0F4C75;
    border-radius: 25px;
    cursor: pointer;
    transition: background 0.3s ease;

}

.offer-text button:hover {
    background-color: #0F4C75;
    color: white;
}

.offer-image img {
    max-width: 600px;
    width: 100%;
    object-fit: contain;
    border-radius: 28% 62% 57% 33% / 25% 33% 67% 75%;
}


@media (max-width: 767px) {
    .offer-section {
        flex-direction: column;
        text-align: center;
        margin: 0px;
        display: flex;
        justify-content: center;
        gap: 15px;
        width: fit-content;
        min-height: 200px;
        padding: 20px;
    }
    .offers-container {
        display: flex;
        justify-content: center;
    }
    .offer-text h1 {
        font-size: 2rem;
    };
}